@model StudioLab.Models.ViewModels.UsuariosViewModel
@{
    ViewBag.Title = "Listado";
}

<h2>Listado de usuarios</h2>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido 1</th>
                <th>Apellido 2</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usu in Model.usuarios)
            {
                    <tr>            
                      <td>@usu.nombre</td>
                      <td>@usu.apellido1</td>
                      <td>@usu.apellido2</td>
                      <td><a href="@Url.Action("BorradoUsuario","Usuarios", new { id = @usu.idUsuario})" title="Borrar"><i class="glyphicon glyphicon-remove"></i></a></td>
                      <td><a href="@Url.Action("EditaUsuario","Usuarios", new { id = @usu.idUsuario})" title="Editar"><i class="glyphicon glyphicon-pencil"></i></a></td>
                    </tr>
            }
        </tbody>
    </table>
</div>

<div id="page-selection" class="text-center"></div>

<!-- Script para la paginacion (bootpag) -->


@section scripts {

        <script>
            // init bootpag
            $('#page-selection').bootpag({
                total: 5
            }).on("page", function (event, /* page number here */ num) {
                //$("#content").html("Insert content"); // some ajax content loading...
            });
        </script>

}