@model StudioLab.Models.ViewModels.UsuariosViewModel
@{

    ViewBag.Title = "Buscador";
}

<h2>Buscador</h2>


<!-- Input para buscar en la BD por nombre. 
     Los coincidentes aparecerán en un div, que paginará 
     según los resultados. -->



<label for="buscar">Buscar usuario: </label><input id="buscar" type="text">

<br />


<h4>Resultado de la busqueda:</h4>

<div id="Contenido"></div>

<!-- Paginador por si el resultado fuera necesario paginarlo -->
<div id="page-selection" class="text-center"></div>


    @section scripts {

        <!-- Script para la busqueda, petición AJAX -->


        <script>

            $(document).ready(function () {


                $('#buscar').on("keyup",  function () {

                    //Desactivamos los eventos para que no se acumulen
                    $('#page-selection').off("page");
     
                    //Recogemos el valor que hay en el input
                    var Valor = $('#buscar').val();
                    $("#page-selection").empty();

                    if (Valor != "") {

                            $.ajax({
                                type: "GET",
                                url: '@Url.Action("BuscarUsuarios", "Usuarios")',
                                data: { valor: Valor },
                                success: function (data) {

                                    $("#Contenido").html(data);
                                    if ($("#numRegistros").val() == 0)
                                    {
                                        $("#Contenido").empty();
                                        $("#page-selection").empty();
                                    }

                                    if ($("#numRegistros").val() > 20) {

                                        //Preparamos la paginacion
                                        $('#page-selection').bootpag({

                                            total: $("#numPaginas").val(),
                                            page: 1,
                                            maxVisible: 5


                                        }).on("page", function (event, /* page number here */ num) {

                                         
                                            $.ajax({
                                                type: "GET",
                                                url: '@Url.Action("BuscarUsuariosPaginados", "Usuarios")',
                                                data: { page: num, valor: Valor },
                                                success: function (data) {

                                                    $("#Contenido").html(data);

                                                },
                                                error: function () {
                                                    console.log("Problem with Ajax petition.")
                                                }

                                            });


                                        });
                                        
                                    }

                                },
                                error: function () {
                                    console.log("Problem with Ajax petition.");
                                }

                            });

                    } else {

                          //Vaciamos lo que pueda haber de resultados anteriores en el div
                        $("#Contenido").empty();
                        $("#page-selection").empty();
               
                   }





                     @*$("#page-selection").empty();


                    if (Valor != "") {

                        $.ajax({
                            type: "GET",
                            url: '@Url.Action("BuscarUsuarios", "Usuarios")',
                            data: { valor: Valor },
                            success: function (data) {

                                $("#Contenido").html(data);

                            },
                            error: function () {
                                console.log("Problem with Ajax petition.");
                            }

                        });


                        if ($("#numRegistros").val() == 0) {

                            //Si no hay resultado borramos el esqueleto de la tabla
                            $("#Contenido").empty();
                            $("#page-selection").empty();

                        }

                        //Si el numero de registros es mayor a 20
                        //Montamos la paginacion

                        if ($("#numRegistros").val() > 20) {

                            $('#page-selection').bootpag({

                                total: $("#numPaginas").val(),
                                page: 1,
                                maxVisible: 5


                            }).on("page", function (event, /* page number here */ num) {


                                $.ajax({
                                    type: "GET",
                                    url: '@Url.Action("BuscarUsuariosPaginados", "Usuarios")',
                                    data: { page: num, valor: Valor },
                                    success: function (data) {

                                        $("#Contenido").html(data);

                                    },
                                    error: function () {
                                        console.log("Problem with Ajax petition.")
                                    }

                                });



                            });
                        }




                    } else {

                        //Vaciamos lo que pueda haber de resultados anteriores en el div
                        $("#Contenido").empty();
                        $("#page-selection").empty();


                    }*@

                });

            });

        </script>




        @*<script>

            $(document).ready(function () {


                $("#buscar").on("change paste keyup", function () {

                    var Valor = $('#buscar').val();

                    if (Valor != "") {

                        // init bootpag
                        $('#page-selection').bootpag({

                            total: 0,
                            maxVisible: 5

                        }).on("page", function (event, /* page number here */ num) {

                            $.ajax({
                                type: "GET",
                                url: '@Url.Action("BuscarUsuarios", "Usuarios")',
                                data: { page: num, valor: Valor },
                                success: function (data) {

                                    $("#Contenido").html(data);

                                    //$(this).bootpag({ total: $('#numPaginas').val(), maxVisible: 5 });


                                    if ($("#numRegistros").val() == 0) {

                                        //Si no hay resultado borramos el esqueleto de la tabla
                                        $("#Contenido").empty();

                                    }

                                },
                                error: function () {
                                    console.log("Problem with Ajax petition.")
                                }

                            });
                        });


                    } else {

                        //Vaciamos lo que pueda haber de resultados anteriores en el div
                        $("#Contenido").empty();

                    }

                });


            });

        </script>*@



    }
